#wrapper {
  background-image: url("../images/background.jpeg");
  cursor: url('../images/cat-paw.png'), auto;
}

a {
  cursor: url('../images/cat-paw.png'), auto;
}

.secondary-info li {
  list-style: url('../images/item-cat-paw.png');
  list-style-type: none;
}

.secondary-info li::before {
  content: none;
}
